<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <style>
    body{
      background-color: whitesmoke;
    }
    .goal-box{
      margin-top: 30px;
      padding: 10px;
    }
    h4{
      margin-top: 50px;
    }

  </style>
</head>

<body>



<div class="container">
  <div>
    <img src="logo.png" style="height: 250px;">
  </div>
</div>

<div class="container text-center">
  <h4>
    A crowdsourcing tool to extract judicial names from the <a href="https://en.wikipedia.org/wiki/Book_design#Front_matter">front matter</a> of <a href="https://en.wikipedia.org/wiki/Case_law">case law</a> texts.
  </h4>
  <div class="container goal-box">
    <div class="row">
      <div class="col-sm-6">
        <span>Current Goal: <%=goal%></span><br/>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: <%-status.percent%>%" aria-valuenow="<%-status.percent%>" aria-valuemin="0" aria-valuemax="100"><%-status.complete%>/<%-status.total%></div>
        </div>

      </div>
      <div class="col-sm-6">
        <a class="btn btn-primary" href="/work" role="button">Start Working</a>


      </div>
    </div>
  </div>
</div>

<hr/>
<div class="container">
  <h4>How To Use:</h4>
  <div class="row">
    <div class="col-md-6">
      <img src="step1.gif" style="width: 100%;" />
    </div>
    <div class="col-md-6">
      <div>Step 1</div>
      <div>Select the page that contains names.</div>
    </div>
  </div> <!-- row -->
  <br/>
  <div class="row">
    <div class="col-md-6">
      <img src="step2.gif" style="width: 100%;" />
    </div>
    <div class="col-md-6">
      <div>Step 2</div>
      <div>Click on all the parts of a persons name.</div>
    </div>
  </div> <!-- row -->
  <br/>
  <div class="row">
    <div class="col-md-6">
      <img src="step3.gif" style="width: 100%;" />
    </div>
    <div class="col-md-6">
      <div>Step 3</div>
      <div>Make sure the details are correct and add the name.</div>
    </div>
  </div> <!-- row -->
  <br/><br/>
  <div class="row">
    <div class="col-md-6">
      <img src="step4.gif" style="width: 100%;" />
    </div>
    <div class="col-md-6">
      <div>Step 4</div>
      <div>Once all names are added click Volume Complete.</div>
    </div>
  </div> <!-- row -->
</div>

<hr/>
<div class="container">
  <h4>Recently Completed: (<a href="/work/download">Download All Data)</a></h4>
    <ul>
    <% for(var i=0; i < status.recent.length; i++) { %>
      <li><a href="work/<%-status.recent[i].refid%>"><%-status.recent[i].refid%></a></li>
    <% } %>
    </ul>
</div>


<div class="container text-center">
  <a href="https://github.com/thisismattmiller/case-law-front-matter-extractor">Source Code on Github</a>. Crane by Iconic, Book by Peter Parničan from the Noun Project   
</div>
<br/><br/>


</body>
</html>
